<article id="{{ todo.id }}" hx-target="this" hx-swap="outerHTML">

    <body>
        <div><label>Task</label><small>{{ todo.task }}</small></div>
        <br>
        <div>
            <label>Notes</label><small>{{ todo.notes }}</small>
        </div>
        <br>
        <div class="grid">
            <div><label>Complete</label><small>{{ todo.status }}</small></div>
            <div><label>Due Date</label><small>{{ todo.due_date }}</small></div>
        </div>
        <br>
        <small><a href="/todo/edit/{{ todo.id }}">Edit</a></small>
        <br>
        <small><a href="/todo/delete/{{ todo.id }}">Delete</a></small>
    </body>
</article>