<article id="{{ todo.id }}" hx-target="this" hx-swap="outerHTML">
<body>
    <form hx-put="/todo/{{ todo.id }}">
    <div><label><b>Task</b></label>
        <textarea style="resize: vertical;"name="Task">{{ todo.task }}</textarea>

    </div>
    <br>
    <div>
        <label><b>Notes</b></label>
        <textarea style="resize: vertical;"name="Notes">{{ todo.notes }}</textarea>
    </div>
    <br>
    <div class="grid">
        <div><label><b>Complete?</b></label>
            <input type="checkbox" role="switch" name="Status" value="Complete">
        </div>
        <div><label><b>Due Date</b></label>
            <input type="date" name="Due Date" value="{{ todo.due_date }}">
        </div>
    </div>
    <br>
    <button class="btn">Submit</button>
    <br>
    <a href="" hx-get="/todo/{{ todo.id }}">Cancel</a>
    </form>
</body>
</article>