{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h3>
        Get Current Weather:
    </h3>
    <div id="weather-card"></div>
    <span class="htmx-indicator">...Searching...</span>
    <input class="form-control" type="search" name="search" placeholder="Begin Typing To Search Cities..."
        hx-post="/weather/search" hx-trigger="keyup changed delay:500ms, search" hx-target="#search-results"
        hx-indicator="previous span.htmx-indicator">
    <table class="table">
        <tbody id="search-results">
        </tbody>
    </table>
</div>

{% endblock %}